module {{ .ModulePath }}

go 1.26.4

require (
	{{ .TypesModule }} v0.0.0-00010101000000-000000000000
	github.com/jackc/pgx/v5 v5.11.0
	{{ .Naming.ScalarGoModule }} {{ .Pins.Version .Naming.ScalarGoModule "v1.0.0" }}
	{{ .Naming.SchemaIRGoModule }} {{ .Pins.Version .Naming.SchemaIRGoModule "v0.0.0-00010101000000-000000000000" }}
{{- if .VersionGraphs }}
	{{ .Naming.VersionGraphGoModule }} {{ .Pins.Version .Naming.VersionGraphGoModule "v0.0.0-00010101000000-000000000000" }}
{{- end }}
{{- range .IndirectModules }}
	{{ . }} v0.0.0-00010101000000-000000000000 // indirect
{{- end }}
)

require (
	github.com/jackc/pgpassfile v1.0.0 // indirect
	github.com/jackc/pgservicefile v0.0.0-20240606120523-5a60cdf6a761 // indirect
	github.com/jackc/puddle/v2 v2.2.2 // indirect
	golang.org/x/sync v0.17.0 // indirect
	golang.org/x/text v0.29.0 // indirect
)

replace {{ .TypesModule }} => ../../types/go/{{ .SchemaName }}
{{- range .ModuleDependencyReplaces }}

replace {{ .Module }} => {{ .RelPath }}
{{- end }}
{{- if .ScalarLibReplacePath }}

replace {{ .Naming.ScalarGoModule }} => {{ .ScalarLibReplacePath }}
{{- end }}
{{- if .SchemaIRReplacePath }}

replace {{ .Naming.SchemaIRGoModule }} => {{ .SchemaIRReplacePath }}
{{- end }}
{{- if .VersionGraphReplacePath }}

replace {{ .Naming.VersionGraphGoModule }} => {{ .VersionGraphReplacePath }}
{{- end }}
{{- if .Pins }}

// The release of superschematic that generated this module pins the
// runtime modules it reaches, which the module proxy serves, whatever
// version the modules it requires ask for.
replace (
{{- range .Pins.List }}
	{{ .Module }} => {{ .Module }} {{ .Version }}
{{- end }}
)
{{- end }}
